<div class="post">
  <div class="row container neumorphic-container mx-auto">
    <div class="col-12 col-md-9">
      <div class="mx-auto">
        <div class="hero">
          <div class="overlay"></div>
          <h2 class="title">
            <span class="font-weight-light">The Making of:</span> CakeBook.io
          </h2>
          <img src="assets/project-thumbs/cakebook.png" />
        </div>
        <h5 class="heading">
          The first 100 hours of learning web application development
        </h5>
        <div class="body">
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card">
        <h3>Other Stories</h3>
        <div class="fakeimg">Image</div>
        <br />
        <div class="fakeimg">Image</div>
        <br />
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>
</div>
