<div class="post">
  <div class="row container neumorphic-container mx-auto">
    <div class="col-12 col-md-9">
      <div class="mx-auto">
        <div class="hero">
          <div class="overlay"></div>
          <h2 class="title">
            <span class="font-weight-light">The Making of:</span> CakeBook.io
          </h2>
          <img src="assets/project-thumbs/cakebook.png" />
        </div>
        <h5 class="heading">
          The first 100 hours of learning web application development
        </h5>
        <div class="body">
          <!-- <div class="fakeimg" style="height:200px;">Image</div> -->
          <p>
            At the time, my competitive edge needed some sharpening. All my
            peers were getting internship offers left and right, while I had
            nothing to showcase. And so, I started binging web development
            technology via ten different tutorials. Angular 2 back then was in
            beta, and my naive self just thought its 2-way binding feature that
            updated data immediately upon input <i>really stood out</i>. Then I
            picked it up and just ran with it, using TypeScript, despite a
            couple of student mentors warning me about it - something along the
            line of me "not having any JavaScript experience."
          </p>
          <img src="assets/project-images/cakebook/theme-design.png" />
          <p>
            Back then I was obsessed with eating and making chocolate mousse.
            That led me to create a sort of to-do list but with just cakes. This
            would be evident judging by the theme colors of the UI; I wanted to
            keep colors that would resemble those on a chocolate cake or a
            strawberry cheesecake.
          </p>
          <p>
            A recurring theme that stuck with me from then till now was that the
            designer in me loves making realistic UI, or what I later found out
            was called
            <a
              href="https://www.interaction-design.org/literature/article/skeuomorphism-is-dead-long-live-skeuomorphism"
              target="_blank"
              >skeuomorphic design</a
            >. It is a more "human" concept, as opposed to the minimalistic flat
            UIs that took over the Interwebs in the last decade. But that is a
            topic for another day.
          </p>
          <img src="assets/project-images/cakebook/cakebook-first-ui.png" />
          <p>
            Now to the exciting part that we've been waiting for: the coding. I
            made a semi-functioning web application. But just with Angular, a
            front-end technology, the app would not store cake nor user data; I
            needed a back end. In the hopes that learning data movement across
            the stack would teach me what I needed, I watched an hour-long
            Youtube video learning the basics web development from an engineer
            with over 10 years of experience. There was this "RESTful" API
            concept that required data to be passed in JSON form. Now, if I used
            Express to expose API endpoints, that would complete the M.E.A.N.
            stack. Sounds complex, I know, but essentially I needed to pass in a
            JSON object to an HTTP client, and the server would process that
            object and return a response. Rinse and repeat - no need to
            overcomplicate.
          </p>
          <p>
            Along the way, I added some interactive features to make it perform
            like a real application in the wide. Amongst the features was
            drag-and-drop. It may be hard to believe, but this was just about
            the hardest feature to implement across the entire app. I had close
            to zero idea how to make a JS plugin work with Angular. Angular 2
            beta was so new, no one had answers for anything, not even
            StackOverflow. In retrospect, I'm extremely proud of myself back
            then as a programmer for diving head-first into such a risky
            situation with almost no JS knowledge. I made drag-and-drop work
            even while the target elements were sharing some space with the Edit
            and Remove buttons and bubbling listened events unbeknownst to me.
            But in the end, it was glorious.
            <!-- Finally
            Cakebook.io - my first love child - was born. After 80+ hours of
            development with product estimation on Trello, I knew the same
            process could be used for a real-life project. It was time to make
            an impact out in the real world. -->
          </p>
          <img src="assets/project-images/cakebook/drag-and-drop.png" />

          <img src="assets/project-images/cakebook/recipe-example.png" />
          <p>
            This was the first web application that I breathed life into, from
            the very beginning steps of setting up the environment to deploying
            on a web domain. Surfing along my greatest learning curve back then
            was the most thrilling experience ever as a programmer.
          </p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card">
        <h3>Other Stories</h3>
        <div class="fakeimg">Image</div>
        <br />
        <div class="fakeimg">Image</div>
        <br />
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>
</div>
