$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// .bg-blue {
//   background-color: $blue;
// }
// .bg-indigo {
//   background-color: $indigo;
// }
// .bg-purple {
//   background-color: $purple;
// }
// .bg-pink {
//   background-color: $pink;
// }
// .bg-red {
//   background-color: $red;
// }
// .bg-orange {
//   background-color: $orange;
// }
// .bg-yellow {
//   background-color: $yellow;
// }
// .bg-green {
//   background-color: $green;
// }
// .bg-teal {
//   background-color: $teal;
// }
// .bg-cyan {
//   background-color: $cyan;
// }

// .text-blue {
//   color: $blue;
// }
// .text-indigo {
//   color: $indigo;
// }
// .text-purple {
//   color: $purple;
// }
// .text-pink {
//   color: $pink;
// }
// .text-red {
//   color: $red;
// }
// .text-orange {
//   color: $orange;
// }
// .text-yellow {
//   color: $yellow;
// }
// .text-green {
//   color: $green;
// }
// .text-teal {
//   color: $teal;
// }
// .text-cyan {
//   color: $cyan;
// }
