@import 'src/vars';

body {
  &::-webkit-scrollbar-track {
    background: #17181b;
    border-radius: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 2px 2px 3px rgba($dark-1000, 0.95),
    inset -1px -1px 4px rgba(white, 0.1);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    hsl(210, 8%, 29%) 0%,
    hsl(217, 8%, 20%) 100%
  );
  border-radius: 5px;
  box-shadow: inset 0 0 10px 10px hsl(210, 8%, 29%) 0%;
  left: -10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
