@import 'src/vars';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'src/functions';

div.page-wrap {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  background-image: $circuit-hero-image-low-opacity;
}

nav {
  background-color: $background-color;

  @media (min-width: breakpoint()) {
    #top-nav {
      display: none;
    }
  }

  @media (max-width: breakpoint()) {
    width: 100%;
    top: 0;
    left: 0;
  }

  #top-nav {
    ul {
      border-radius: 10px;
    }
    li {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
  .collapse.show {
    li {
      width: 100%;
    }
  }
}

.navbar-brand img {
  width: 4.5rem;
  height: 4.5rem;
}

#standalone-brand-container {
  position: relative;
  height: 100px;
}
#standalone-brand {
  position: absolute;
  width: auto;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: $background-color;
  transition: background-color 0.25s ease-out, box-shadow 0.25s;

  &:hover,
  &:focus {
    background-color: $primary;
    box-shadow: -2px -2px 6px rgba($primary, 0.5),
      2px 2px 6px rgba(darken($primary, 20), 0.5);
  }
}
.fixed-top.navbar {
  border-radius: 0;
}

#content {
  @media (max-width: breakpoint()) {
    max-height: none;
  }
  @media (min-width: breakpoint(md)) and (max-width: breakpoint()) {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
  }
  max-width: 1268px;
  max-height: $large-screen-card-height;
}

// TODO: animate the intro card pop up from the right col and land on its destination
.card#home {
  @media (max-width: breakpoint()) {
    height: auto;
    margin-top: 3rem;
    margin-bottom: $section-margin-bottom-mobile;
  }
  height: $large-screen-card-height;
  z-index: 10;
  position: relative;
  overflow: hidden;

  .card-header {
    border-radius: 1rem 1rem 0 0;
    position: relative;
    height: 40%;
    border: none;
    @media (max-width: breakpoint()) {
      height: 200px;
    }
    .card-media {
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: rgba(black, 0.33);

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: $card-bg;
        height: 70%;
        width: 75%;
        bottom: -73%;
      }
      &::before {
        right: 50%;
        transform: rotate(12deg);
        transform-origin: right;
        z-index: 1; // prevent &::after white shadow from overlapping this
        box-shadow: -6px -6px 9px rgba(white, 0.25);
      }
      &::after {
        left: 50%;
        transform: rotate(-12deg);
        transform-origin: left;
        z-index: 0;
        box-shadow: 6px -6px 9px rgba(white, 0.25);
      }
    }
    .inset-shadow {
      box-shadow: inset $shadow-br, inset $shadow-tl;
    }
  }

  .card-body {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 150px;
      width: 150px;
      left: -75px;
      top: 50%;
      background-image: $temple-hero-image;
    }

    &::after {
      content: '';
      position: absolute;
      height: 150px;
      width: 150px;
      right: -75px;
      top: 0;
      background-image: $temple-hero-image;
    }
  }

  #profile-image {
    width: 150px;
    height: 150px;
    z-index: 1;
    margin: -100px auto 0;
    border-radius: 50%;
    box-shadow: -6px -6px 16px rgba(white, 0.18), 6px 6px 16px $dark-1000;
    background-color: $card-bg;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 10px solid transparent;
    }
  }

  #quote {
    font-size: 0.9rem;
    width: 50%;
  }
  #social {
    font-size: 1.75rem;
    a {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }

  .title {
    margin-top: 1.5rem;
    font-family: Poppins;
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 2rem;
  }
  .subtitle {
    font-family: Poppins;
    color: $primary;
    font-size: 1.25rem;
  }
}

//loader options
.animated-btn {
  position: relative;
  display: inline-block;

  > .btn-group {
    position: relative;
    display: -webkit-inline-box;
    display: inline-flex;
    vertical-align: middle;
  }
  .btn {
    position: relative;
    z-index: 1;
  }

  .particle {
    opacity: 0;
    z-index: 0;
    position: absolute;
    background-color: $primary;
    animation: bubbles 5s infinite;
    border-radius: 100%;

    &:nth-child(odd) {
      background-color: transparent;
      border: 1px solid $primary;
    }

    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        $size: ((random(40) + 60)/10);
        top: 50%;
        left: percentage(random(95) / 100);
        height: $size + px;
        width: $size + px;
        animation-delay: random(50) / 10 + s;
      }
    }
  }
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    //show and hint at moving
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%); //Big bubbles move faster
  }
}

footer {
  height: 5rem;
  width: 100%;
  background-color: $background-color;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: rgba(white, 0.67);
}
