@import 'src/vars';
@import 'node_modules/bootstrap/scss/bootstrap';
@import url(//fonts.googleapis.com/css?family=Poppins%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i&subset=latin%2Clatin-ext);

//TODO: scrollbar

$top-left-light: hsl(0, 7%, 19%);
$top-left-bg: hsl(0, 10%, 28%);

a,
.btn-regular {
  color: rgba(white, 0.7);
  transition: color 0.125s ease-out;
  &:hover {
    color: $primary;
  }
}

.line-through {
  text-decoration: line-through;
}

.page-wrap {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-1000;
  background-image: linear-gradient(to bottom right, $top-left-light, #17181b);
}

$max-height-wrap: 674px;
#content {
  @media all and (max-width: map-get($map: $grid-breakpoints, $key: md)) {
    height: auto;
  }
  width: 1268px;
  height: 674px;
}
$card-background: $dark-200;
.card {
  border-radius: 1rem;
  background-color: transparent;
  color: rgba(white, 0.9);
  border: none;
  box-shadow: -16px -16px 16px rgba(white, 0.075), 16px 16px 26px $dark-1000;
}
.card#intro-card {
  height: $max-height-wrap;
  z-index: 1;
  position: relative;

  .card-header {
    border-radius: 1rem 1rem 0 0;
    position: relative;
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: rgba(black, 0.55);
    }
    .inset-shadow {
      box-shadow: inset 6px 6px 9px rgba($dark-1000, 0.9),
        inset -6px -6px 16px 2px rgba(white, 0.2);
    }
  }

  #profile-image {
    width: 150px;
    height: 150px;
    z-index: 1;
    overflow: hidden;
    margin: -100px auto 0;
    border-radius: 50%;
    box-shadow: -6px -6px 16px rgba(white, 0.18), 6px 6px 16px $dark-1000;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 10px solid $card-background;
    }
  }

  #quote {
    font-size: 0.9rem;
    width: 50%;
  }
  #social {
    font-size: 1.75rem;
    a {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }

  .title {
    font-family: Poppins;
    font-size: 2rem;
    letter-spacing: -1px;
  }
  .subtitle {
    font-family: Poppins;
    color: $primary;
    font-size: 1.25rem;
  }

  #logo {
    position: absolute;
    background-color: $dark;
    width: 5rem;
    height: 5rem;

    #logo-container {
      font-family: 'Aclonica', sans-serif;
      position: relative;
      width: 100%;
      height: 100%;
      line-height: 1rem;

      #david {
        position: absolute;
        // font-family: "PT Mono", monospace;
        font-size: 1.4rem;
        bottom: 50%;
      }
      #tn {
        // font-family: "Pacifico", cursive;
        position: absolute;
        color: white;
        font-size: 3rem;
        bottom: -0.5rem;
      }
    }
  }
}
.card#body-card {
  @media all and (max-width: map-get($map: $grid-breakpoints, $key: md)) {
    height: auto;
  }
  overflow-y: auto;
  overflow-clip-box: padding-box;
  height: calc(#{$max-height-wrap} - 2rem);
  border-radius: 1rem;
  background-color: transparent;
  color: rgba(white, 0.9);
  border: none;
  box-shadow: 0 -16px 16px rgba(white, 0.075), 16px 16px 26px $dark-1000;
}

.btn-primary {
  background-image: linear-gradient(
    to bottom,
    $primary,
    adjust-hue($primary, 14deg)
  );
  &:hover,
  &:focus,
  &.active {
    background-image: linear-gradient(
      to bottom,
      darken($primary, 10),
      darken(adjust-hue($primary, 14deg), 10)
    );
  }
}
.btn-group .or::before {
  position: absolute;
  text-align: center;
  border-radius: 500rem;
  content: 'or';
  top: 50%;
  background-color: #fff;
  text-shadow: none;
  margin-top: -0.89285714em;
  margin-left: -0.89285714em;
  width: 1.78571429em;
  height: 1.78571429em;
  line-height: 1.78571429em;
  color: $card-background;
  font-style: normal;
  font-weight: 700;
  -webkit-box-shadow: 0 0 0 1px transparent inset;
  box-shadow: 0 0 0 1px transparent inset;
}

.btn.neumorphic {
  position: relative;
  border: none;
  background-color: transparent;
  transition: background-color 0.125s ease-out, width 0.3s ease-out;
  box-shadow: -2px -2px 6px rgba(white, 0.075),
    4px 4px 6px rgba($dark-1000, 0.9);

  &.sm {
    &:hover,
    &:focus {
      background-color: $primary;
      color: $white;
    }
  }
  &.lg {
    &::after {
      content: '';
      height: 4px;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      margin-left: 5%;
      background-color: transparent;
    }
    &:hover,
    &:focus {
      color: $primary;
      fa-icon {
        color: $primary;
      }
      &::after {
        width: 90%;
        background-color: $primary;
      }
    }
  }
}

.btn.with-icon {
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  &::after {
    content: '';
    height: 4px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 0%;
    background-color: transparent;
  }

  &:hover,
  &:focus {
    color: $primary;
    fa-icon {
      color: $primary;
    }
    &::after {
      width: 90%;
      background-color: $primary;
      transition: background-color 0.125s ease-out, width 0.3s ease-out;
    }
  }

  fa-icon {
    transition: color 0.125s ease-out, background-color 0.125s ease-out;
    color: $white;
    background-color: $card-background;
    font-size: 2rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    // left: -2.25rem;
    // box-shadow: -2px -2px 6px rgba(white, 0.18);
    position: relative;
    --fa-secondary-opacity: 0.2;
  }
  span {
    // margin-left: -1.75rem;
    font-weight: 500;
  }
}

//loader options
.animated-btn {
  position: relative;
  display: inline-block;

  .btn {
    position: relative;
    z-index: 1;
  }

  .particle {
    opacity: 0;
    z-index: 0;
    position: absolute;
    background-color: $primary;
    animation: bubbles 3s ease-in infinite;
    border-radius: 100%;

    &:nth-child(odd) {
      background-color: transparent;
      border: 1px solid $primary;
    }

    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        $size: ((random(40) + 60)/10);
        top: 50%;
        left: percentage(random(95) / 100);
        height: $size + px;
        width: $size + px;
        animation-delay: random(30) / 10 + s;
      }
    }
  }
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    //show and hint at moving
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%); //Big bubbles move faster
  }
}
