<div role="main">
  <div id="home" class="container pt-5">
    <!-- <div id="logo">
      <div id="logo-container">
        <span id="david" class="d-inline-block">DAVID</span
        ><span id="tn" class="d-inline-block">TN</span>
      </div>
    </div> -->
    <div id="intro-card" class="card p-2">
      <div class="card-header overflow-hidden p-0">
        <div class="overlay"></div>
        <img
          class="card-img-top"
          src="/assets/cover-photo.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <div id="profile-image">
          <img
            class="img-fluid"
            src="https://cdn130.picsart.com/240548021044202.jpg?r1024x1024"
          />
        </div>
        <div class="title text-center">
          Full Name Example
        </div>
        <div class="subtitle text-center">Lorem ipsum</div>
        <!-- <pre class="d-block text-left text-white my-3" id="quote">
>> mobile-first
😐
>> AI-first
😐
>> User-first
😄 ✔
        </pre> -->

        <div class="d-flex justify-content-center align-items-center">
          <div class="animated-btn my-5">
            <div class="btn-group">
              <button
                class="btn btn-primary d-flex justify-content-center align-items-center px-4"
                style="height: 4rem; margin-right: 2px"
              >
                <fa-icon size="lg" [icon]="faEye"></fa-icon>
              </button>
              <div class="or" style="z-index: 2"></div>
              <button
                class="btn btn-primary d-flex justify-content-center align-items-center px-4"
                style="height: 4rem; margin-left: 2px"
              >
                <fa-icon size="lg" [icon]="faDownload" class="mr-2"></fa-icon>
                My <b>&nbsp;Resume</b>
              </button>
            </div>

            <span
              *ngFor="let dummy of ' '.repeat(particleNum).split('')"
              class="particle"
            ></span>
          </div>
        </div>

        <div id="social" class="text-center my-2">
          <a
            class="btn btn-regular sm neumorphic"
            target="_blank"
            href="https://github.com/"
            ><fa-icon size="lg" [icon]="faGithub"></fa-icon
          ></a>
          <a
            class="btn btn-regular sm neumorphic"
            target="_blank"
            href="https://linkedin.com/"
            ><fa-icon size="lg" [icon]="faLinkedin"></fa-icon
          ></a>
        </div>

        <div id="contact">
          <!-- work(at)davidtn(dot).com -->
        </div>
      </div>
    </div>
  </div>
</div>
