<div role="main" class="page-wrap">
  <div id="standalone-brand-container">
    <a
      id="standalone-brand"
      class="
        navbar-brand
        d-none d-lg-block
        m-0
        btn btn-regular
        neumorphic-container-sm
        inset
        outset
      "
      [routerLink]="'/'"
      aria-label="Go to Homepage"
    >
      <img
        src="assets/logo.svg"
        alt="Personal logo with a cat illustration fitting into a capital D letter"
    /></a>
  </div>

  <nav
    class="
      neumorphic-container
      fixed-top
      navbar navbar-expand-md navbar-dark
      d-lg-none
    "
  >
    <div class="container-fluid mx-auto">
      <a
        class="navbar-brand m-0 btn btn-regular"
        href="#home"
        aria-label="Go to Homepage"
      >
        <img
          src="assets/logo.svg"
          alt="Personal logo with a cat illustration fitting into a capital D letter"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#top-nav"
        aria-controls="top-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="top-nav">
        <ul class="nav navbar-nav ml-auto text-uppercase" id="top-menu">
          <li class="nav-item">
            <a class="nav-link btn neumorphic lg" href="#mission">
              <!-- <span>
                <fa-icon
                  [icon]="['fas', 'pennant']"
                  stackItemSize="1x"
                  transform="shrink-4 up-16 right-5"
                ></fa-icon>
                <fa-icon
                  [icon]="['fas', 'mountain']"
                  stackItemSize="1x"
                  transform="shrink-6 up-6"
                ></fa-icon> </span
              ><br /> -->
              <small>Mission</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn neumorphic lg" href="#about">
              <!-- <fa-icon [icon]="['fas', 'user-headset']"></fa-icon><br /> -->
              <i class="fas fa-user-headset"></i><br />
              <small>About</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn neumorphic lg" href="#tech-stack">
              <!-- <fa-icon [icon]="['fas', 'flask-potion']"></fa-icon><br /> -->
              <i class="fas fa-flask-potion"></i><br />
              <small>Potion</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn neumorphic lg" href="#projects">
              <!-- <fa-icon [icon]="['fas', 'thunderstorm-sun']"></fa-icon><br /> -->
              <i class="fas fa-thunderstorm-sun"></i><br />
              <small>Adventure</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn neumorphic lg" href="#services">
              <i class="far fa-book-spells"></i><br />
              <!-- <fa-icon [icon]="['far', 'book-spells']"></fa-icon><br /> -->
              <small>Magic</small>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link btn neumorphic lg" href="#testimonials">
              <fa-icon [icon]="['fas', 'comment-alt-smile']"></fa-icon><br />
              <small>Testimonials</small>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link btn neumorphic lg" href="#contact">
              <i class="fas fa-envelope"></i><br />
              <small>Contact</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div
    id="content"
    class="row my-lg-4 mx-3 mx-sm-5 d-block d-lg-flex align-items-center"
  >
    <div id="home" class="card neumorphic col-lg-4 p-2">
      <div class="card-header overflow-hidden p-0">
        <app-webp
          [imgName]="'cover-photo'"
          [fileType]="'jpg'"
          [imgClass]="'card-img-top card-media unselectable'"
          [imgAlt]="'Colorful paint smudges cover photo'"
          [specs]="coverPhotoSpecs"
        ></app-webp>
        <div class="overlay inset-shadow"></div>
      </div>

      <div class="card-body">
        <div id="profile" class="overflow-hidden position-relative">
          <app-webp
            [imgName]="'me'"
            [fileType]="'jpg'"
            [imgClass]="'profile-img img-fluid'"
            [imgAlt]="'David\'s artistic profile image'"
          ></app-webp>
        </div>

        <div class="text-center">
          <h1 class="title d-block mb-1">
            {{ name }}
          </h1>
          <div class="subtitle d-block mb-2">{{ title }}</div>
        </div>

        <div id="social" class="text-center mb-4">
          <a
            class="btn btn-regular sm neumorphic"
            target="_blank"
            aria-label="Link to David's GitHub profile"
            href="https://github.com/drageaux"
            rel="noreferrer"
          >
            <!-- <fa-icon size="lg" [icon]="['fab', 'github']"></fa-icon> -->
            <i class="fab fa-github fa-lg"></i>
          </a>
          <a
            class="btn btn-regular sm neumorphic"
            target="_blank"
            aria-label="Link to David's LinkedIn profile"
            href="https://linkedin.com/in/david-tn"
            rel="noreferrer"
          >
            <!-- <fa-icon size="lg" [icon]="['fab', 'linkedin']"></fa-icon> -->
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a
            class="btn btn-regular sm neumorphic"
            href="mailto:hello@davidtn.com?Subject=[davidtn.com]%20Hello%20David"
            target="_top"
          >
            <!-- <fa-icon size="lg" [icon]="['fas', 'envelope']"></fa-icon> -->
            <i class="fas fa-envelope fa-lg"></i>
          </a>
        </div>

        <div
          id="resume-buttons"
          class="d-flex justify-content-center align-items-center mt-4"
        >
          <div class="animated-btn mt-5 mb-3">
            <div class="btn-group">
              <a
                class="
                  btn btn-primary
                  d-flex
                  justify-content-center
                  align-items-center
                  px-4
                "
                style="height: 4rem; margin-right: 2px"
                target="_blank"
                aria-label="View David's resume 2022"
                href="assets/thong nguyen resume 2022.pdf.pdf"
              >
                <!-- <fa-icon size="lg" [icon]="['fas', 'eye']"></fa-icon> -->
                <i class="fas fa-eye fa-lg"></i>
              </a>
              <div class="or" style="z-index: 2"></div>
              <a
                class="
                  btn btn-primary
                  d-flex
                  justify-content-center
                  align-items-center
                  px-4
                "
                style="height: 4rem; margin-left: 2px"
                aria-label="Download David's resume 2022 in PDF format"
                href="assets/thong nguyen resume 2022.pdf.pdf"
                download
              >
                <!-- <fa-icon
                  class="mr-2"
                  size="lg"
                  [icon]="['fas', 'download']"
                ></fa-icon> -->
                <i class="fas fa-download fa-lg mr-2"></i>
                My<b>&nbsp;Resume</b>
              </a>
            </div>
            <span
              *ngFor="let dummy of ' '.repeat(particleNum).split('')"
              class="particle"
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div id="body-col" class="col-lg-8 p-0 my-lg-0 position-relative">
      <ul
        id="lg-screen-menu"
        class="
          nav
          flex-column
          text-center text-uppercase
          mt-5
          neumorphic-container
          d-none d-lg-block
        "
      >
        <li class="nav-item">
          <a class="nav-link btn neumorphic lg" href="#mission">
            <!-- <fa-stack>
              <fa-icon
                [icon]="['fas', 'pennant']"
                stackItemSize="1x"
                transform="shrink-4 up-2 right-5"
              ></fa-icon>
              <fa-icon
                [icon]="['fas', 'mountain']"
                stackItemSize="1x"
                transform="shrink-6 down-8"
              ></fa-icon>
            </fa-stack> -->
            <br />
            <small>Mission</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn neumorphic lg" href="#about">
            <!-- <fa-icon [icon]="['fas', 'user-headset']"></fa-icon> -->
            <i class="fas fa-user-headset"></i>
            <br />
            <small>About</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn neumorphic lg" href="#tech-stack">
            <!-- <fa-icon [icon]="['fas', 'flask-potion']"></fa-icon> -->
            <i class="fas fa-flask-potion"></i>
            <br />
            <small>Potion</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn neumorphic lg" href="#projects">
            <!-- <fa-icon [icon]="['fas', 'thunderstorm-sun']"></fa-icon> -->
            <i class="fas fa-thunderstorm-sun"></i>
            <br />
            <small>Adventure</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn neumorphic lg" href="#services">
            <!-- <fa-icon [icon]="['far', 'book-spells']"></fa-icon> -->
            <i class="fas fa-book-spells"></i>
            <br />
            <small>Magic</small>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link btn neumorphic lg" href="#testimonials">
            <fa-icon [icon]="['fas', 'comment-alt-smile']"></fa-icon><br />
            <small>Testimonials</small>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link btn neumorphic lg" href="#contact">
            <!-- <fa-icon [icon]="['fas', 'envelope']"></fa-icon> -->
            <i class="fas fa-envelope"></i>
            <br />
            <small>Contact</small>
          </a>
        </li>
      </ul>

      <div
        id="body-well"
        class="mx-lg-3 position-relative"
        data-spy="scroll"
        data-target="#lg-screen-menu"
        data-offset="50"
      >
        <app-mission id="mission" class="d-block"></app-mission>
        <app-about id="about" class="d-block"></app-about>
        <app-tech-stack id="tech-stack" class="d-block"></app-tech-stack>
        <app-projects id="projects" class="d-block"></app-projects>
        <app-services id="services" class="d-block"></app-services>
        <!-- <app-testimonials id="testimonials" class="d-block"></app-testimonials> -->
        <app-contact id="contact" class="d-block"></app-contact>
      </div>
    </div>
  </div>

  <footer
    class="
      d-flex
      neumorphic-container
      justify-content-center
      align-items-center
      text-white-50 text-center
    "
  >
    <div class="container row pt-1 px-0 mx-3 mx-sm-5">
      <span class="p-0 col-12 col-lg-6 text-left"
        >&copy; 2020 David Thong Nguyen. All rights reserved.</span
      >
      <span class="p-0 col-12 col-lg-6 text-right">
        <!-- <fa-icon [icon]="['fas', 'envelope']" class="mr-1"></fa-icon> -->
        <i class="fas fa-envelope mr-1"></i>
        hello@davidtn.com</span
      >
    </div>
  </footer>
</div>
