<div role="main">
  <div id="home" class="container">
    <!-- <div id="logo">
      <div id="logo-container">
        <span id="david" class="d-inline-block">DAVID</span
        ><span id="tn" class="d-inline-block">TN</span>
      </div>
    </div> -->
    <div id="intro-card" class="card">
      <div class="card-header p-0">
        <div class="overlay"></div>
        <img
          class="card-img-top"
          src="/assets/cover-photo.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h2 class="text-center">
          <!-- David Thong Nguyen -->
          <small class="d-inline-block small">Lorem ipsum</small>
        </h2>
        <button class="btn btn-primary neumorphic">Download Resume</button>
      </div>
    </div>
  </div>
</div>
