@import 'src/vars';

a {
  background-color: transparent;
  text-decoration: none !important;
  color: rgba(white, 0.67);
  font-size: 0.9rem;
  transition: box-shadow 0.2s;

  box-shadow: $shadow-tl-sm, $shadow-br-sm,
    inset $shadow-br-pos-blur transparent, inset $shadow-tl-pos-blur transparent !important;

  &:hover,
  &:focus {
    box-shadow: $shadow-tl-sm, $shadow-br-sm, inset $shadow-tl, inset $shadow-br !important;
  }
}
img {
  transform: scale(1);
  background-color: transparent;
}

ul {
  padding-inline-start: 2rem;
  list-style: none;
  li {
    position: relative;
    font-family: $sans-stack;
    font-weight: 500;

    fa-icon {
      color: $primary;
      position: absolute;
      text-align: center;
      left: -2rem;
      width: 1.25rem;
      font-size: 1.1rem;
    }
  }
}
