<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title"
      >More
      <b class="text-primary">About Me</b>
    </span>
  </div>
  <hr />

  <div class="card-body">
    <p>
      I breathe life into my products, so it is important that you know what
      <span class="text-primary">personality</span> they are getting.
    </p>
    <a
      class="d-block"
      href="assets/illustrations/personality.svg"
      style="cursor: zoom-in;"
      target="_blank"
    >
      <img
        class="img-fluid my-4"
        src="assets/illustrations/personality.svg"
        alt="Personality pie chart: 47% video games, 19% kittens parent, 14% anime, 8% haute cuisine, 11.9% K-pop, 0.1% drunk alter ego"
      />
      <span class="d-block d-sm-none d-lg-block d-xl-none text-center"
        >(Click to see full)</span
      >
    </a>
  </div>
</div>
