<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title"
      >More
      <b class="text-primary">About Me</b>
    </span>
  </div>
  <hr />

  <div class="card-body">
    <ul class="mb-5">
      <li><fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>Irvine, CA</li>
      <li>
        <fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon>Rochester
        Institute of Technology '18
      </li>
      <li>
        <fa-icon [icon]="['far', 'diploma']"></fa-icon>B.S. Software Engineering
      </li>
      <li>
        <fa-icon [icon]="['far', 'diploma']"></fa-icon>Inspired by:
        <a href="https://www.youtube.com/channel/UCaO6VoaYJv4kS-TQO_M-N_g">
          Clément Mihailescu </a
        >, <a href="https://thefutur.com/team/chris-do">Chris Do</a>,
        <a
          href="https://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action"
          >Simon Sinek</a
        >
      </li>
    </ul>
    <p class="mb-3">
      I breathe life into my products, so it is important that you first know
      what
      <span class="text-primary">personality</span> they are getting.
    </p>
    <a
      class="d-block neumorphic-container mb-3"
      href="assets/illustrations/personality.svg"
      style="cursor: zoom-in;"
      target="_blank"
    >
      <img
        class="img-fluid my-3 p-3"
        src="assets/illustrations/personality.svg"
        alt="Personality pie chart: 47% video games, 19% kittens parent, 14% anime, 8% haute cuisine, 11.9% K-pop, 0.1% drunk alter ego"
      />
    </a>
  </div>
</div>
