@import 'src/vars';

a {
  background-color: transparent;
  text-decoration: none !important;
  color: rgba(white, 0.67);
  font-size: 0.9rem;
}
img {
  transform: scale(1);
  background-color: transparent;
}
