<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      <span class="text-primary">About&nbsp;</span>Me
    </span>
  </div>
  <hr />

  <div class="card-body">
    <p>
      <fa-icon size="2x" [icon]="['fas', 'paw']"></fa-icon>
      Hello, this is David! I'm a software engineer on a mission to
      <b>bridge the human-computer gap</b> without accidentally creating Skynet.
    </p>
    <p>
      <fa-icon size="2x" [icon]="['fas', 'paw']"></fa-icon>
      My
      <b>{{ gamingExperience }} years engaging with user interfaces</b>
      in video games have made me somewhat a good judge of UX (understatement of
      the day).
    </p>
    <p>
      <fa-icon size="2x" [icon]="['fas', 'paw']"></fa-icon>
      So far, I have programmed tools to improve my colleagues' quality of life
      by streamlining their workflows. Now I want to
      <b>work on larger ideas</b> and expand the area of influence, as much as
      imaginable.
    </p>
  </div>
</div>
