body {
  overflow-x: hidden;
  /*
   * Top Nav
   */
  /*
   * Main Contents
   */
  /*
   * Modal
   */
  /*
   * Footer
   */ }
  body a {
    cursor: pointer;
    transition-duration: 0.25s; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
  body .gray-text, body .grey-text {
    color: #666666; }
  body .italic {
    font-style: italic; }
  body nav.navbar {
    background-color: black;
    color: white;
    border: none; }
    body nav.navbar a.navbar-brand,
    body nav.navbar a.navbar-brand:hover,
    body nav.navbar a.navbar-brand:focus {
      display: block;
      position: absolute;
      top: 0;
      font-family: 'Candal', sans-serif;
      background: #FF615C;
      color: black;
      overflow: visible;
      width: 90px;
      height: 90px;
      transition: .5s ease-in-out;
      text-transform: uppercase;
      white-space: nowrap; }
      body nav.navbar a.navbar-brand span,
      body nav.navbar a.navbar-brand:hover span,
      body nav.navbar a.navbar-brand:focus span {
        transition: .5s ease-in-out; }
      body nav.navbar a.navbar-brand span.logo,
      body nav.navbar a.navbar-brand:hover span.logo,
      body nav.navbar a.navbar-brand:focus span.logo {
        position: absolute;
        bottom: 12px;
        right: -52px; }
      body nav.navbar a.navbar-brand span.first-letter,
      body nav.navbar a.navbar-brand:hover span.first-letter,
      body nav.navbar a.navbar-brand:focus span.first-letter {
        position: relative;
        top: -9px;
        font-size: 27px; }
      body nav.navbar a.navbar-brand span.mid-letters,
      body nav.navbar a.navbar-brand:hover span.mid-letters,
      body nav.navbar a.navbar-brand:focus span.mid-letters {
        position: relative;
        top: -9px;
        font-size: 27px; }
      body nav.navbar a.navbar-brand span.last-letter,
      body nav.navbar a.navbar-brand:hover span.last-letter,
      body nav.navbar a.navbar-brand:focus span.last-letter {
        position: relative;
        left: -5px;
        font-size: 70px;
        color: white;
        letter-spacing: 1px;
        z-index: -1; }
    body nav.navbar ul.nav li a {
      background-color: transparent !important;
      color: white !important;
      text-transform: uppercase; }
    body nav.navbar ul.nav li.active a,
    body nav.navbar ul.nav li:hover a,
    body nav.navbar ul.nav li:focus a {
      color: #FF615C !important; }
    @media screen and (min-width: 768px) {
      body nav.navbar ul.nav li:hover a,
      body nav.navbar ul.nav li:focus a {
        transform: scale(1.25);
        transition-duration: 0.3s; } }
  @media screen and (max-width: 768px) {
    body nav.navbar {
      background: black;
      padding: 7px 0; }
      body nav.navbar a.navbar-brand,
      body nav.navbar a.navbar-brand:hover,
      body nav.navbar a.navbar-brand:focus {
        width: 64px;
        height: 64px; }
        body nav.navbar a.navbar-brand span.logo,
        body nav.navbar a.navbar-brand:hover span.logo,
        body nav.navbar a.navbar-brand:focus span.logo {
          bottom: 12px;
          right: -36px; }
        body nav.navbar a.navbar-brand span.first-letter,
        body nav.navbar a.navbar-brand:hover span.first-letter,
        body nav.navbar a.navbar-brand:focus span.first-letter {
          top: -6px;
          font-size: 20px; }
        body nav.navbar a.navbar-brand span.mid-letters,
        body nav.navbar a.navbar-brand:hover span.mid-letters,
        body nav.navbar a.navbar-brand:focus span.mid-letters {
          top: -6px;
          font-size: 20px; }
        body nav.navbar a.navbar-brand span.last-letter,
        body nav.navbar a.navbar-brand:hover span.last-letter,
        body nav.navbar a.navbar-brand:focus span.last-letter {
          font-size: 49px; }
      body nav.navbar .navbar-collapse {
        border: none; }
      body nav.navbar ul.nav li a {
        background-color: transparent !important;
        color: white !important;
        text-transform: uppercase; } }
  body nav.top-nav-collapse {
    background-color: black;
    padding: 7px 0; }
    body nav.top-nav-collapse a.navbar-brand,
    body nav.top-nav-collapse a.navbar-brand:hover,
    body nav.top-nav-collapse a.navbar-brand:focus {
      width: 64px;
      height: 64px; }
      body nav.top-nav-collapse a.navbar-brand span.logo,
      body nav.top-nav-collapse a.navbar-brand:hover span.logo,
      body nav.top-nav-collapse a.navbar-brand:focus span.logo {
        bottom: 12px;
        right: -36px; }
      body nav.top-nav-collapse a.navbar-brand span.first-letter,
      body nav.top-nav-collapse a.navbar-brand:hover span.first-letter,
      body nav.top-nav-collapse a.navbar-brand:focus span.first-letter {
        top: -6px;
        font-size: 20px; }
      body nav.top-nav-collapse a.navbar-brand span.mid-letters,
      body nav.top-nav-collapse a.navbar-brand:hover span.mid-letters,
      body nav.top-nav-collapse a.navbar-brand:focus span.mid-letters {
        top: -6px;
        font-size: 20px; }
      body nav.top-nav-collapse a.navbar-brand span.last-letter,
      body nav.top-nav-collapse a.navbar-brand:hover span.last-letter,
      body nav.top-nav-collapse a.navbar-brand:focus span.last-letter {
        font-size: 49px; }
  body section {
    position: relative;
    left: -70%;
    padding-top: 90px;
    padding-bottom: 90px;
    margin: auto;
    overflow: hidden;
    width: 240%; }
    body section .inner-section {
      position: relative;
      left: 25%;
      width: 50%; }
      body section .inner-section .section-header {
        font-weight: bold;
        text-align: center; }
  body section:nth-child(even) {
    background-color: black;
    color: white;
    border-radius: 65% 40%; }
  @media screen and (min-width: 768px) {
    body section {
      min-height: 111vh; } }
  body section#intro {
    background-color: black;
    color: white;
    padding-top: 150px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    body section#intro .ui.button {
      margin-bottom: 5px;
      opacity: 0; }
    body section#intro a#resume {
      background-color: transparent;
      box-shadow: 0 0 0 2px #FF615C inset !important;
      color: #FF615C;
      margin-right: 0; }
    body section#intro a#resume:focus,
    body section#intro a#resume:hover {
      color: white;
      background-color: #FF615C; }
    body section#intro div#media-links {
      display: flex; }
    body section#intro a#linkedin {
      position: relative;
      bottom: -1px;
      background-color: transparent;
      box-shadow: 0 0 0 2px #0077B5 inset !important;
      margin-right: 2px; }
      body section#intro a#linkedin img {
        height: 25px; }
    body section#intro a#linkedin:focus,
    body section#intro a#linkedin:hover {
      background-color: #0077B5; }
    body section#intro a#github {
      position: relative;
      bottom: -1px;
      background-color: transparent;
      margin-left: 2px;
      box-shadow: 0 0 0 2px white inset !important; }
      body section#intro a#github #github-white {
        display: block; }
      body section#intro a#github #github-black {
        display: none; }
      body section#intro a#github img {
        height: 25px; }
    body section#intro a#github:focus,
    body section#intro a#github:hover {
      background-color: white; }
      body section#intro a#github:focus #github-white,
      body section#intro a#github:hover #github-white {
        display: none; }
      body section#intro a#github:focus #github-black,
      body section#intro a#github:hover #github-black {
        display: block; }
    body section#intro .intro-canvas {
      padding: 0;
      display: inline-block;
      position: relative;
      border-radius: 50%;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */ }
      body section#intro .intro-canvas img {
        display: block;
        position: relative;
        border: 1px solid #111111;
        border-radius: 50%;
        width: 100%; }
      body section#intro .intro-canvas img#bw-image {
        position: absolute !important; }
      body section#intro .intro-canvas img#color-image {
        opacity: 0; }
    body section#intro .intro-canvas:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: radial-gradient(circle closest-side at center, transparent 0, rgba(234, 221, 213, 0.1) 90%, black 100%);
      border-radius: 50%;
      width: 100%;
      height: 100%; }
  @media screen and (max-width: 768px) {
    body section#intro {
      padding-top: 100px; }
      body section#intro .pull-left {
        text-align: center; }
      body section#intro .pull-right {
        float: none !important; }
      body section#intro a#linkedin {
        margin-left: auto; }
      body section#intro a#github {
        margin-right: auto; } }
  body section#who {
    overflow: visible; }
    body section#who .silhouette-container {
      position: absolute;
      margin-left: 40px;
      z-index: -1; }
      body section#who .silhouette-container img.silhouette {
        width: 100%; }
    @media screen and (max-width: 768px) {
      body section#who .silhouette-container {
        position: relative;
        margin-left: 33%; } }
    body section#who .stats-page div[id^="who"] {
      margin-top: 5px;
      margin-bottom: 5px; }
    body section#who .stats-page h3 {
      font-weight: bold;
      margin: 10px 0 3px;
      border-bottom: solid 1px black; }
    body section#who .stats-page #stats-nav-btn {
      text-align: center; }
      body section#who .stats-page #stats-nav-btn a.btn {
        background-color: #FF615C;
        color: white;
        border: none;
        width: 49%;
        transition-duration: 0.2s;
        z-index: 1; }
      body section#who .stats-page #stats-nav-btn a.btn:hover {
        background-color: #9D484A; }
    body section#who .stats-page .ui.progress {
      margin-top: 10px;
      margin-bottom: 20px;
      overflow: visible;
      height: 9px !important; }
      body section#who .stats-page .ui.progress .label {
        font-size: 13px;
        font-weight: 300;
        color: black;
        padding-left: 0;
        text-align: left;
        text-transform: uppercase; }
      body section#who .stats-page .ui.progress .bar {
        height: 9px; }
        body section#who .stats-page .ui.progress .bar .progress:after {
          display: none; }
    @media screen and (min-width: 992px) {
      body section#who .stats-page .ui.progress {
        margin-top: 20px;
        margin-bottom: 30px; } }
  body section#what {
    padding-top: 100px;
    padding-bottom: 100px; }
    body section#what .project {
      opacity: 0; }
      body section#what .project .ui.image {
        position: relative;
        margin-top: 10px;
        width: 100%;
        height: 240px; }
        body section#what .project .ui.image img {
          position: absolute;
          top: 50%;
          left: 50%;
          object-fit: cover;
          width: 99%;
          height: 99%;
          max-width: none;
          transform: translate(-50%, -50%); }
        body section#what .project .ui.image img.slide-1 {
          animation: fade-1 12s infinite;
          -webkit-animation: fade-1 12s infinite; }
        body section#what .project .ui.image img.slide-2 {
          animation: fade-2 12s infinite;
          -webkit-animation: fade-2 12s infinite; }
        body section#what .project .ui.image .caption-container {
          position: absolute;
          background: rgba(0, 0, 0, 0.65);
          opacity: 0;
          width: 100%;
          height: 100%;
          transition-duration: 0.2s;
          z-index: 1; }
          body section#what .project .ui.image .caption-container .caption {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            font-weight: bold;
            color: white;
            transform: translate(-50%, -50%); }
        @media screen and (max-width: 768px) {
          body section#what .project .ui.image .caption-container {
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            opacity: 1;
            height: 25%; }
            body section#what .project .ui.image .caption-container .caption {
              font-size: 17px; } }
      body section#what .project .ui.image:hover .caption-container {
        opacity: 1; }
    @media screen and (max-width: 768px) {
      body section#what .project .ui.image {
        height: 200px;
        margin-top: 20px; }
      body section#what .project:not(:first-child) .ui.image {
        margin-top: 30px; } }
@keyframes fade-1 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  @media screen and (max-width: 768px) {
    body section {
      left: 0 !important;
      border-radius: 0 !important;
      width: 100% !important; }
      body section .inner-section {
        left: 0 !important;
        width: 100% !important; } }
  body .modal img {
    width: 100%; }
  body .modal .modal-header .close {
    margin-top: 3px !important; }
  body .modal .modal-body .intro-image {
    margin-bottom: 30px; }
  body .modal .modal-body .emphasized-text {
    font-size: 1.4em;
    font-weight: bold; }
  body .modal .modal-body .caption {
    margin-top: 5px;
    font-style: italic;
    font-size: 1.3em; }
  body .modal .modal-body .carousel {
    height: 500px; }
    body .modal .modal-body .carousel .carousel-inner {
      height: 100%; }
      body .modal .modal-body .carousel .carousel-inner .item {
        height: 100%; }
        body .modal .modal-body .carousel .carousel-inner .item .carousel-image {
          position: relative;
          height: 100%; }
          body .modal .modal-body .carousel .carousel-inner .item .carousel-image img {
            position: absolute; }
        body .modal .modal-body .carousel .carousel-inner .item .carousel-caption {
          bottom: 100px;
          left: 0;
          font-size: 0.9em;
          background: black;
          width: 100%;
          height: 30%; }
    body .modal .modal-body .carousel .carousel-control {
      position: absolute;
      top: 47%;
      background: black;
      color: #FF615C;
      width: 30px;
      height: 30px; }
    body .modal .modal-body .carousel .carousel-control.left {
      left: 3%; }
    body .modal .modal-body .carousel .carousel-control.right {
      right: 3%; }
    body .modal .modal-body .carousel .carousel-indicators {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      white-space: nowrap; }
      body .modal .modal-body .carousel .carousel-indicators li {
        margin: 0 !important;
        width: 20%;
        height: auto; }
        body .modal .modal-body .carousel .carousel-indicators li img {
          display: block; }

/*
 * Specific Overrides
 */
@media screen and (max-width: 768px) {
  .col-xs-8.col-sm-6 {
    width: 66.66666667%; }

  .col-xs-8.col-xs-offset-2 {
    margin-left: 16.66666667%; }

  .col-xs-12.col-sm-6 {
    width: 100%; }

  .col-sm-9.col-sm-offset-3 {
    width: 100% !important;
    margin-left: 0% !important; } }

/*# sourceMappingURL=main.css.map */
