body {
  overflow-x: hidden;
  /*
   * Top Nav
   */
  /*
   * Main Contents
   */
  /*
   * Modal
   */
  /*
   * Footer
   */ }
  body a {
    cursor: pointer; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; }
  body .gray-text, body .grey-text {
    color: #666666; }
  body .italic {
    font-style: italic; }
  body nav.navbar {
    border: none;
    background-color: black;
    color: white; }
    body nav.navbar a.navbar-brand,
    body nav.navbar a.navbar-brand:hover,
    body nav.navbar a.navbar-brand:focus {
      white-space: nowrap;
      overflow: visible;
      position: absolute;
      top: 0;
      text-transform: uppercase;
      display: block;
      width: 90px;
      height: 90px;
      font-family: 'Candal', sans-serif;
      color: black;
      background: #FF615C;
      transition: .5s ease-in-out; }
      body nav.navbar a.navbar-brand span,
      body nav.navbar a.navbar-brand:hover span,
      body nav.navbar a.navbar-brand:focus span {
        transition: .5s ease-in-out; }
      body nav.navbar a.navbar-brand span.logo,
      body nav.navbar a.navbar-brand:hover span.logo,
      body nav.navbar a.navbar-brand:focus span.logo {
        position: absolute;
        right: -52px;
        bottom: 12px; }
      body nav.navbar a.navbar-brand span.first-letter,
      body nav.navbar a.navbar-brand:hover span.first-letter,
      body nav.navbar a.navbar-brand:focus span.first-letter {
        position: relative;
        font-size: 27px;
        top: -9px; }
      body nav.navbar a.navbar-brand span.mid-letters,
      body nav.navbar a.navbar-brand:hover span.mid-letters,
      body nav.navbar a.navbar-brand:focus span.mid-letters {
        position: relative;
        font-size: 27px;
        top: -9px; }
      body nav.navbar a.navbar-brand span.last-letter,
      body nav.navbar a.navbar-brand:hover span.last-letter,
      body nav.navbar a.navbar-brand:focus span.last-letter {
        font-size: 70px;
        color: white;
        position: relative;
        letter-spacing: 1px;
        left: -5px;
        z-index: -1; }
    body nav.navbar ul.nav li a {
      background-color: transparent !important;
      color: white !important;
      text-transform: uppercase; }
    body nav.navbar ul.nav li.active a,
    body nav.navbar ul.nav li:hover a,
    body nav.navbar ul.nav li:focus a {
      color: #FF615C !important; }
  @media screen and (max-width: 768px) {
    body nav.navbar {
      padding: 7px 0;
      background: black; }
      body nav.navbar a.navbar-brand,
      body nav.navbar a.navbar-brand:hover,
      body nav.navbar a.navbar-brand:focus {
        width: 64px;
        height: 64px; }
        body nav.navbar a.navbar-brand span.logo,
        body nav.navbar a.navbar-brand:hover span.logo,
        body nav.navbar a.navbar-brand:focus span.logo {
          right: -36px;
          bottom: 12px; }
        body nav.navbar a.navbar-brand span.first-letter,
        body nav.navbar a.navbar-brand:hover span.first-letter,
        body nav.navbar a.navbar-brand:focus span.first-letter {
          font-size: 20px;
          top: -6px; }
        body nav.navbar a.navbar-brand span.mid-letters,
        body nav.navbar a.navbar-brand:hover span.mid-letters,
        body nav.navbar a.navbar-brand:focus span.mid-letters {
          font-size: 20px;
          top: -6px; }
        body nav.navbar a.navbar-brand span.last-letter,
        body nav.navbar a.navbar-brand:hover span.last-letter,
        body nav.navbar a.navbar-brand:focus span.last-letter {
          font-size: 49px; }
      body nav.navbar .navbar-collapse {
        border: none; }
      body nav.navbar ul.nav li a {
        background-color: transparent !important;
        color: white !important;
        text-transform: uppercase; } }
  body nav.top-nav-collapse {
    background-color: black;
    padding: 7px 0; }
    body nav.top-nav-collapse a.navbar-brand,
    body nav.top-nav-collapse a.navbar-brand:hover,
    body nav.top-nav-collapse a.navbar-brand:focus {
      width: 64px;
      height: 64px; }
      body nav.top-nav-collapse a.navbar-brand span.logo,
      body nav.top-nav-collapse a.navbar-brand:hover span.logo,
      body nav.top-nav-collapse a.navbar-brand:focus span.logo {
        right: -36px;
        bottom: 12px; }
      body nav.top-nav-collapse a.navbar-brand span.first-letter,
      body nav.top-nav-collapse a.navbar-brand:hover span.first-letter,
      body nav.top-nav-collapse a.navbar-brand:focus span.first-letter {
        font-size: 20px;
        top: -6px; }
      body nav.top-nav-collapse a.navbar-brand span.mid-letters,
      body nav.top-nav-collapse a.navbar-brand:hover span.mid-letters,
      body nav.top-nav-collapse a.navbar-brand:focus span.mid-letters {
        font-size: 20px;
        top: -6px; }
      body nav.top-nav-collapse a.navbar-brand span.last-letter,
      body nav.top-nav-collapse a.navbar-brand:hover span.last-letter,
      body nav.top-nav-collapse a.navbar-brand:focus span.last-letter {
        font-size: 49px; }
  body section {
    min-height: 111vh;
    overflow: hidden;
    margin: auto;
    left: -70%;
    position: relative;
    width: 240%;
    padding-top: 90px;
    padding-bottom: 90px; }
    body section .inner-section {
      left: 25%;
      position: relative;
      width: 50%; }
      body section .inner-section .section-header {
        text-align: center;
        font-weight: bold; }
  body section:nth-child(even) {
    border-radius: 65% 40%;
    color: white;
    background-color: black; }
  body section#intro {
    height: 111vh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white;
    background-color: black;
    padding-top: 150px; }
    body section#intro .intro-canvas {
      border-radius: 50%;
      display: inline-block;
      position: relative;
      user-select: none; }
    body section#intro .intro-canvas img {
      position: relative;
      width: 100%;
      border-radius: 50%;
      display: block;
      border: 1px solid #111111; }
    body section#intro .intro-canvas:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(circle closest-side at center, transparent 0, rgba(234, 221, 213, 0.1) 90%, black 100%);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0; }
  body section#who {
    overflow: visible; }
    body section#who .silhouette-container {
      z-index: -1;
      position: absolute;
      margin-left: 40px; }
      body section#who .silhouette-container img.silhouette {
        width: 100%; }
    @media screen and (max-width: 768px) {
      body section#who .silhouette-container {
        position: relative;
        margin-left: 33%; } }
    body section#who .stats-page div[id^="who"] {
      margin-top: 5px;
      margin-bottom: 5px; }
    body section#who .stats-page h3 {
      border-bottom: solid 1px black;
      font-weight: bold;
      margin: 10px 0 3px; }
    body section#who .stats-page #stats-nav-btn {
      text-align: center; }
      body section#who .stats-page #stats-nav-btn a.btn {
        z-index: 1;
        transition-duration: 0.2s;
        width: 49%;
        background-color: #FF615C;
        border: none;
        color: white; }
      body section#who .stats-page #stats-nav-btn a.btn:hover {
        background-color: #9D484A; }
    body section#who .stats-page .ui.progress {
      overflow: visible;
      height: 9px !important;
      margin-top: 10px;
      margin-bottom: 20px; }
      body section#who .stats-page .ui.progress .label {
        color: black;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: left;
        padding-left: 0; }
      body section#who .stats-page .ui.progress .bar {
        height: 9px; }
        body section#who .stats-page .ui.progress .bar .progress:after {
          display: none; }
    @media screen and (min-width: 992px) {
      body section#who .stats-page .ui.progress {
        margin-top: 20px;
        margin-bottom: 30px; } }
  body section#what {
    padding-top: 100px;
    padding-bottom: 100px; }
    body section#what .project .ui.image {
      margin-top: 10px;
      height: 240px;
      width: 100%;
      position: relative; }
      body section#what .project .ui.image img {
        width: 99%;
        height: 99%;
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover; }
      body section#what .project .ui.image img.slide-1 {
        -webkit-animation: fade-1 12s infinite;
        animation: fade-1 12s infinite; }
      body section#what .project .ui.image img.slide-2 {
        -webkit-animation: fade-2 12s infinite;
        animation: fade-2 12s infinite; }
      body section#what .project .ui.image .caption-container {
        position: absolute;
        background: rgba(0, 0, 0, 0.65);
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition-duration: 0.2s; }
        body section#what .project .ui.image .caption-container .caption {
          color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 20px;
          font-weight: bold; }
      @media screen and (max-width: 768px) {
        body section#what .project .ui.image .caption-container {
          background: rgba(0, 0, 0, 0.7);
          bottom: 4%;
          height: 25%;
          opacity: 1; }
          body section#what .project .ui.image .caption-container .caption {
            font-size: 17px; } }
    body section#what .project .ui.image:hover .caption-container {
      opacity: 1; }
    @media screen and (max-width: 768px) {
      body section#what .project .ui.image {
        height: 200px;
        margin-top: 20px; }
      body section#what .project:not(:first-child) .ui.image {
        margin-top: 30px; } }
@keyframes fade-1 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  @media screen and (max-width: 768px) {
    body section {
      width: 100% !important;
      left: 0 !important;
      border-radius: 0 !important; }
      body section .inner-section {
        left: 0 !important;
        width: 100% !important; } }
  body .modal img {
    width: 100%; }
  body .modal .modal-header .close {
    margin-top: 3px !important; }
  body .modal .modal-body .intro-image {
    margin-bottom: 30px; }
  body .modal .modal-body .emphasized-text {
    font-size: 1.4em;
    font-weight: bold; }
  body .modal .modal-body .caption {
    margin-top: 5px;
    font-style: italic;
    font-size: 1.3em; }
  body .modal .modal-body .carousel {
    height: 500px; }
    body .modal .modal-body .carousel .carousel-inner {
      height: 100%; }
      body .modal .modal-body .carousel .carousel-inner .item {
        height: 100%; }
        body .modal .modal-body .carousel .carousel-inner .item .carousel-image {
          height: 100%;
          position: relative; }
          body .modal .modal-body .carousel .carousel-inner .item .carousel-image img {
            position: absolute; }
        body .modal .modal-body .carousel .carousel-inner .item .carousel-caption {
          background: black;
          height: 30%;
          width: 100%;
          left: 0;
          bottom: 100px;
          font-size: 0.9em; }
    body .modal .modal-body .carousel .carousel-control {
      position: absolute;
      top: 47%;
      width: 30px;
      height: 30px;
      background: black;
      color: #FF615C; }
    body .modal .modal-body .carousel .carousel-control.left {
      left: 3%; }
    body .modal .modal-body .carousel .carousel-control.right {
      right: 3%; }
    body .modal .modal-body .carousel .carousel-indicators {
      position: absolute;
      margin: 0;
      padding: 0;
      left: 0;
      bottom: 0;
      white-space: nowrap;
      width: 100%; }
      body .modal .modal-body .carousel .carousel-indicators li {
        height: auto;
        margin: 0 !important;
        width: 20%; }
        body .modal .modal-body .carousel .carousel-indicators li img {
          display: block; }

/*# sourceMappingURL=main.css.map */
