$darkred: #9D484A;
$salmonred: #FF615C;
$gray: #666666;
$grey: #666666;

body {
    overflow-x: hidden;
    h1, h2, h3, h4, h5 {
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    .gray-text, .grey-text { color: $gray; }

    /*
     * Top Nav
     */
    nav.navbar {
        border: none;
        background-color: black;
        color: white;

        a.navbar-brand,
        a.navbar-brand:hover,
        a.navbar-brand:focus {
            white-space: nowrap;
            overflow: visible;
            position: absolute;
            top: 0;
            text-transform: uppercase;
            display: block;
            width: 90px;
            height: 90px;
            font-family: 'Candal', sans-serif;
            color: black;
            background: $salmonred;
            transition: .5s ease-in-out;
            span { transition: .5s ease-in-out; }
            span.logo {
                position: absolute;
                right: -52px;
                bottom: 12px;
            }
            span.first-letter {
                font-size: 27px;
            }
            span.mid-letters {
                font-size: 27px;
            }
            span.last-letter {
                font-size: 70px;
                color: white;
                position: relative;
                letter-spacing: 1px;
                left: -5px;
                z-index: -1;
            }
        }

        ul.nav {
            li {
                a { background-color: transparent !important;
                    color: white !important;
                    text-transform: uppercase;
                }
            }
            li.active,
            li:hover,
            li:focus {
                a { color: $salmonred !important; }
            }
        }
    }
    @media screen and (max-width: 768px) {
        nav.navbar {
            padding: 7px 0;
            background: black;
            a.navbar-brand,
            a.navbar-brand:hover,
            a.navbar-brand:focus {
                width: 64px;
                height: 64px;
                span.logo {
                    right: -36px;
                    bottom: 12px;
                }
                span.first-letter {
                    font-size: 20px;
                }
                span.mid-letters {
                    font-size: 20px;
                }
                span.last-letter {
                    font-size: 49px;
                }
            }
        }
    }
    nav.top-nav-collapse {
        background-color: black;
        padding: 7px 0;
        a.navbar-brand,
        a.navbar-brand:hover,
        a.navbar-brand:focus {
            width: 64px;
            height: 64px;
            span.logo {
                right: -36px;
                bottom: 12px;
            }
            span.first-letter {
                font-size: 20px;
            }
            span.mid-letters {
                font-size: 20px;
            }
            span.last-letter {
                font-size: 49px;
            }
        }
    }

    /*
     * Main Contents
     */
    section {
        min-height: 111vh;
        overflow: hidden;
        margin: auto;
        left: -70%;
        position: relative;
        width: 240%;
        .inner-section {
            left: 25%;
            position: relative;
            width: 50%;

            .section-header {
                text-align: center;
                font-weight: bold;
            }
        }
    }
    section:nth-child(even) {
        border-radius: 65% 40%;
        color: white;
        background-color: black;
    }
    section#intro {
        height: 111vh;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: white;
        background-color: black;
        padding-top: 150px;
        .intro-canvas {
            border-radius: 50%;
            display: inline-block;
            position: relative;
            user-select: none;
        }
        .intro-canvas img {
            position: relative;
            width: 100%;
            border-radius: 50%;
            display: block;
            border: 1px solid #111111;
        }
        .intro-canvas:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(circle closest-side at center,
                    rgba(0, 0, 0, 0) 0,
                    rgba(234, 221, 213, 0.1) 90%,
                    rgba(0, 0, 0, 1) 100%
            );
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    section#who {
        padding-top: 90px;
        overflow: visible;
        .silhouette-container {
            z-index: -1;
            position: absolute;
            margin-left: 40px;
            img.silhouette {
                width: 100%;
            }
        }
        .stats-page {
            h3 { font-weight: bold; margin: 10px 0 3px 0; }
            .italic {
                font-style: italic;
            }
            #stats-nav-btn {
                text-align: center;
                a.btn {
                    z-index: 1;
                    transition-duration: 0.2s;
                    width: 49%;
                    background-color: $salmonred;
                    border: none;
                    color: white;
                }
                a.btn:hover {
                    background-color: $darkred;
                }
            }
            #who-1, #who-2 { margin-top: 10px; }
            #who-1 {
                .ui.progress {
                    overflow: visible;
                    height: 9px !important;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    .label {
                        color: black;
                        font-size: 13px;
                        font-weight: 300;
                        text-transform: uppercase;
                        text-align: left;
                        padding-left: 0;
                    }
                    .bar { height: 9px;
                        .progress:after { display: none; }
                    }
                }
                @media (min-width: 992px) {
                    .ui.progress {
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }
                }
            }
            #who-2 {
                visibility: hidden;
            }

        }
    }
    @media screen and (max-width: 768px) {
        section {
            width: 100% !important;
            left: 0 !important;
            border-radius: 0 !important;
            .inner-section {
                left: 0 !important;
                width: 100% !important;
            }
        }
    }
}
