$darkred: #9D484A;
$salmonred: #FF615C;
$gray: #666666;
$grey: #666666;
$linkedin_hex: #0077B5;

body {
    overflow-x: hidden;
    a { cursor: pointer; transition-duration: 0.25s }
    h1, h2, h3, h4, h5 {
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    .gray-text, .grey-text { color: $gray; }
    .italic { font-style: italic; }

    /*
     * Top Nav
     */
    nav.navbar {
        background-color: black;
        color: white;
        border: none;

        a.navbar-brand,
        a.navbar-brand:hover,
        a.navbar-brand:focus {
            display: block;
            position: absolute;
            top: 0;
            font-family: 'Candal', sans-serif;
            background: $salmonred;
            color: black;
            overflow: visible;
            width: 90px;
            height: 90px;
            transition: .5s ease-in-out;
            text-transform: uppercase;
            white-space: nowrap;
            span { transition: .5s ease-in-out; }
            span.logo {
                position: absolute;
                bottom: 12px;
                right: -52px;
            }
            span.first-letter {
                position: relative;
                top: -9px;
                font-size: 27px;
            }
            span.mid-letters {
                position: relative;
                top: -9px;
                font-size: 27px;
            }
            span.last-letter {
                position: relative;
                left: -5px;
                font-size: 70px;
                color: white;
                letter-spacing: 1px;
                z-index: -1;
            }
        }
        ul.nav {
            li {
                a {
                    background-color: transparent !important;
                    color: white !important;
                    text-transform: uppercase;
                }
            }
            li.active,
            li:hover,
            li:focus {
                a { color: $salmonred !important; }
            }
            @media screen and (min-width: 768px) {
                li:hover,
                li:focus {
                    a { transform: scale(1.25); transition-duration: 0.3s }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        nav.navbar {
            background: black;
            padding: 7px 0;
            a.navbar-brand,
            a.navbar-brand:hover,
            a.navbar-brand:focus {
                width: 64px;
                height: 64px;
                span.logo {
                    bottom: 12px;
                    right: -36px;
                }
                span.first-letter {
                    top: -6px;
                    font-size: 20px;
                }
                span.mid-letters {
                    top: -6px;
                    font-size: 20px;
                }
                span.last-letter {
                    font-size: 49px;
                }
            }
            .navbar-collapse {
                border: none;
            }
            ul.nav {
                li {
                    a {
                        background-color: transparent !important;
                        color: white !important;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    nav.top-nav-collapse {
        background-color: black;
        padding: 7px 0;
        a.navbar-brand,
        a.navbar-brand:hover,
        a.navbar-brand:focus {
            width: 64px;
            height: 64px;
            span.logo {
                bottom: 12px;
                right: -36px;
            }
            span.first-letter {
                top: -6px;
                font-size: 20px;
            }
            span.mid-letters {
                top: -6px;
                font-size: 20px;
            }
            span.last-letter {
                font-size: 49px;
            }
        }
    }

    /*
     * Main Contents
     */
    section {
        position: relative;
        left: -70%;
        padding-top: 90px;
        padding-bottom: 90px;
        margin: auto;
        overflow: hidden;
        width: 240%;
        .inner-section {
            position: relative;
            left: 25%;
            width: 50%;
            .section-header {
                font-weight: bold;
                text-align: center;
            }
        }
    }
    section:nth-child(even) {
        background-color: black;
        color: white;
        border-radius: 65% 40%;
    }

    @media screen and (min-width: 768px) {
        section { min-height: 111vh; }
    }
    section#intro {
        background-color: black;
        color: white;
        padding-top: 150px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .ui.button { margin-bottom: 5px; opacity: 0; }

        a#resume {
            background-color: transparent;
            box-shadow: 0 0 0 2px $salmonred inset !important;
            color: $salmonred;
            margin-right: 0;
        }
        a#resume:focus,
        a#resume:hover { color: white; background-color: $salmonred; }
        div#media-links { display: flex; }
        a#linkedin {
            position: relative;
            bottom: -1px;
            background-color: transparent;
            box-shadow: 0 0 0 2px $linkedin_hex inset !important;
            margin-right: 2px;
            img { height: 25px; }
        }
        a#linkedin:focus,
        a#linkedin:hover { background-color: $linkedin_hex; }
        a#github {
            position: relative;
            bottom: -1px;
            background-color: transparent;
            margin-left: 2px;
            box-shadow: 0 0 0 2px white inset !important;
            #github-white { display: block; }
            #github-black { display: none; }
            img { height: 25px; }
        }
        a#github:focus,
        a#github:hover {
            background-color: white;
            #github-white { display: none; }
            #github-black { display: block; }
        }
        .intro-canvas {
            padding: 0;
            display: inline-block;
            position: relative;
            border-radius: 50%;
            -webkit-user-select: none; /* Chrome all / Safari all */
            -moz-user-select: none; /* Firefox all */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Likely future */
            img {
                display: block;
                position: relative;
                border: 1px solid #111111;
                border-radius: 50%;
                width: 100%;
            }
            img#bw-image { position: absolute !important; }
            img#color-image { opacity: 0; }
        }
        .intro-canvas:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-image: radial-gradient(
                            circle closest-side at center,
                            rgba(0, 0, 0, 0) 0,
                            rgba(234, 221, 213, 0.1) 90%,
                            rgba(0, 0, 0, 1) 100%);
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        section#intro {
            padding-top: 100px;
            .pull-left { text-align: center; }
            .pull-right { float: none !important; }
            a#linkedin { margin-left: auto; }
            a#github { margin-right: auto; }
        }
    }

    section#who {
        overflow: visible;
        .silhouette-container {
            position: absolute;
            margin-left: 40px;
            z-index: -1;
            img.silhouette {
                width: 100%;
            }
        }
        @media screen and (max-width: 768px) {
            .silhouette-container {
                position: relative;
                margin-left: 33%;
            }
        }
        .stats-page {
            div[id^="who"] {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            h3 {
                font-weight: bold;
                margin: 10px 0 3px;
                border-bottom: solid 1px black;
            }
            #stats-nav-btn {
                text-align: center;
                a.btn {
                    background-color: $salmonred;
                    color: white;
                    border: none;
                    width: 49%;
                    transition-duration: 0.2s;
                    z-index: 1;
                }
                a.btn:hover {
                    background-color: $darkred;
                }
            }
            .ui.progress {
                margin-top: 10px;
                margin-bottom: 20px;
                overflow: visible;
                height: 9px !important;
                .label {
                    font-size: 13px;
                    font-weight: 300;
                    color: black;
                    padding-left: 0;
                    text-align: left;
                    text-transform: uppercase;
                }
                .bar { height: 9px;
                    .progress:after { display: none; }
                }
            }
            @media screen and (min-width: 992px) {
                .ui.progress {
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
            }
        }
    }
    section#what {
        padding-top: 100px;
        padding-bottom: 100px;
        .project {
            opacity: 0;
            .ui.image {
                position: relative;
                margin-top: 10px;
                width: 100%;
                height: 240px;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    object-fit: cover;
                    width: 99%;
                    height: 99%;
                    max-width: none;
                    transform: translate(-50%, -50%);
                }
                img.slide-1 {
                    animation: fade-1 12s infinite;
                    -webkit-animation: fade-1 12s infinite;
                }
                img.slide-2 {
                    animation: fade-2 12s infinite;
                    -webkit-animation: fade-2 12s infinite;
                }
                .caption-container {
                    position: absolute;
                    background: rgba(0, 0, 0, 0.65);
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    transition-duration: 0.2s;
                    z-index: 1;
                    .caption {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        font-size: 20px;
                        font-weight: bold;
                        color: white;
                        transform: translate(-50%, -50%);
                    }
                }
                @media screen and (max-width: 768px) {
                    .caption-container {
                        bottom: 0;
                        background: rgba(0, 0, 0, 0.7);
                        opacity: 1;
                        height: 25%;
                        .caption { font-size: 17px; }
                    }
                }
            }
            .ui.image:hover {
                .caption-container { opacity: 1; }
            }
        }
        @media screen and (max-width: 768px) {
            .project {
                .ui.image { height: 200px; margin-top: 20px; }
            }
            .project:not(:first-child) {
                .ui.image { margin-top: 30px; }
            }
        }
        // Credit: David Hosanna Chianardi from CodePen
        @keyframes fade-1 {
            0% { opacity: 1 }
            50% { opacity: 0 }
            100% { opacity: 1 }
        }
        @keyframes fade-2 {
            0% { opacity: 0 }
            50% { opacity: 1 }
            100% { opacity: 0 }
        }
    }
    @media screen and (max-width: 768px) {
        section {
            left: 0 !important;
            border-radius: 0 !important;
            width: 100% !important;
            .inner-section {
                left: 0 !important;
                width: 100% !important;
            }
        }
    }

    /*
     * Modal
     */
    .modal {
        img { width: 100%; }
        .modal-header .close { margin-top: 3px !important; }
        .modal-body {
            .intro-image { margin-bottom: 30px; }
            .emphasized-text { font-size: 1.4em; font-weight: bold; }
            .caption { margin-top: 5px; font-style: italic; font-size: 1.3em; }

            .carousel {
                height: 500px;
                .carousel-inner {
                    height: 100%;
                    .item {
                        height: 100%;
                        .carousel-image {
                            position: relative;
                            height: 100%;
                            img { position: absolute; }
                        }
                        .carousel-caption {
                            bottom: 100px;
                            left: 0;
                            font-size: 0.9em;
                            background: black;
                            width: 100%;
                            height: 30%;
                        }
                    }
                }
                .carousel-control {
                    position: absolute;
                    top: 47%;
                    background: black;
                    color: $salmonred;
                    width: 30px;
                    height: 30px;
                }
                .carousel-control.left { left: 3%; }
                .carousel-control.right { right: 3%; }

                .carousel-indicators {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    white-space: nowrap;

                    li {
                        margin: 0 !important;
                        width: 20%;
                        height: auto;

                        img {
                            display: block;
                        }

                    }
                }
            }
        }
    }

    /*
     * Footer
     */
}
