<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      Let's start with
      <b class="text-primary">Why</b>
    </span>
  </div>
  <hr />

  <div class="card-body container">
    <div class="card-body-heading mb-4">
      My mission is
      <span class="text-primary">&nbsp;to bridge the human-computer gap</span>
      without accidentally creating Skynet.
    </div>
    <div class="row mx-auto align-items-center mt-1">
      <div
        class="col-8 pb-3 px-0 mx-auto
        col-sm-6 pb-sm-4 pt-sm-3
        col-lg-10 px-lg-2 pb-lg-4 pt-lg-0
        col-xl-8"
      >
        <img
          class="img-fluid"
          src="assets/illustrations/human-computer.svg"
          alt="Illustration of woman walking out of computer screen to make physical contacts with man in the outside world"
        />
      </div>
      <div
        class="col-12 px-0 mx-auto
        col-sm-6 pl-sm-3
        col-lg-12 px-lg-0"
      >
        <p>
          <span class="text-primary"
            >{{ gamingExperience }} years of engaging with user interface</span
          >
          in video games have made me somewhat a good judge of UX
          (understatement of the day).
        </p>
        <p>
          So far, my work is a mix of workflow streamlining tools and
          interactive minigames. Now, I want to
          <span class="text-primary">&nbsp;work on larger ideas</span>
          and expand the area of influence as much as imaginable.
        </p>
      </div>
    </div>
  </div>
</div>
