<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      <span class="text-primary">Testimonials</span>
    </span>
  </div>
  <hr />

  <div class="card-body">
    <div class="quote-container neumorphic-container-sm inset outset">
      <span class="quotation-mark">&ldquo;</span>

      <blockquote>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable.
      </blockquote>

      <div class="quote-author media d-flex">
        <div
          class="img-container align-self-start d-flex neumorphic-container-sm inset p-2"
        >
          <img
            class="img-fluid"
            src="/assets/logo.svg"
            alt="First quote's author thumbnail"
          />
        </div>
        <div class="media-body">
          <b>Quote Author</b><br />
          Quote author's position and description
        </div>
      </div>
    </div>

    <div class="quote-container neumorphic-container-sm inset outset">
      <span class="quotation-mark left">&ldquo;</span>

      <blockquote>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making it
        over 2000 years old.
      </blockquote>

      <div class="quote-author media d-flex">
        <div
          class="img-container align-self-start d-flex neumorphic-container-sm inset p-2"
        >
          <img
            class="img-fluid"
            src="/assets/logo.svg"
            alt="First quote's author thumbnail"
          />
        </div>
        <div class="media-body">
          <b>Quote Author</b><br />
          Quote author's position and description
        </div>
      </div>
    </div>
  </div>
</div>
