@import 'src/vars';

.quote-container {
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  margin: 0 -1.5rem;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}
blockquote::before {
  content: open-quote;
  color: rgba(232, 103, 107, 0.33);
  position: absolute;
  top: -4.3rem;
  left: -3.3rem;
  z-index: -1;
  font-size: 11rem;
  font-family: Poppins;
  font-weight: 300;
}
blockquote::after {
  content: close-quote;
  visibility: hidden;
  position: absolute;
}

blockquote {
  font-family: Georgia, Times, 'Times New Roman', serif;
  position: relative;
  z-index: 1;
  font-style: italic;
  font-size: 1.08rem;
  margin: 0.25rem 0.25rem 0.5rem;
  color: rgba(white, 0.8);
}

.quote-author.media {
  .media-body b {
    color: $primary !important;
    line-height: 0.9rem;
  }
  .media-body .quote-author-description {
    font-size: 0.85rem;
  }
  .img-container {
    margin-right: 0.75rem;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
  }
}
