<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      <span class="text-primary">Connect With Me&nbsp;</span>today!
    </span>
  </div>
  <hr />

  <div class="card-body">
    <div class="card-body-heading">
      Drop me a message below
      <b class="text-primary">&nbsp;if you are a...</b>
    </div>
    <ul class="mb-4">
      <li>
        <fa-icon [icon]="['fad', 'check-circle']"></fa-icon>
        <span class="text-primary">career recruiter</span> desiring a UX-aware
        web application developer
      </li>
      <li>
        <fa-icon [icon]="['fad', 'check-circle']"></fa-icon>
        <span class="text-primary">graphics designer</span> interested in making
        your designs a real website
      </li>
      <li>
        <fa-icon [icon]="['fad', 'check-circle']"></fa-icon>
        <span class="text-primary"
          >fellow software engineer, developer, or anyone</span
        >
        looking for meaningful conversations
      </li>
    </ul>
    <form action="https://formspree.io/mqkpllzp" method="POST" class="row">
      <!-- <b class="mb-4 d-block">Send me a message</b> -->
      <div class="form-group col-12">
        <label class="text-hide" for="email">Email</label>
        <input
          id="email"
          type="email"
          name="_replyto"
          class="required"
          placeholder="Email *"
          required
        />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label class="text-hide" for="name">Name</label>
        <input
          id="name"
          type="text"
          name="Name"
          placeholder="Name (optional)"
        />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label class="text-hide" for="phone">US Phone Number </label>
        <input
          id="phone"
          type="tel"
          name="Phone"
          placeholder="US Phone (optional)"
        />
      </div>

      <div class="form-group col-12">
        <label class="text-hide" for="message">Message</label>
        <textarea
          id="message"
          name="message"
          class="required"
          placeholder="Type your message here... *"
          required
          rows="5"
        ></textarea>

        <button class="btn btn-primary neumorphic sm btn-lg mt-2" type="submit">
          Send&nbsp;<fa-icon size="lg" icon="paper-plane"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
