@import 'src/vars';

#contact {
  b {
    font-size: 1.1rem;
  }
  label {
    width: 100%;
  }
  input,
  textarea {
    background-color: darken($background-color, 4.5);
    border: none;
    padding: 1rem;
    caret-color: white;
    width: 100%;
    color: rgba(white, 0.85);
    font-size: 1rem;

    &::placeholder {
      color: rgba(white, 0.5);
    }
  }
}
