@import 'src/vars';

b {
  font-size: 1.1rem;
}
label {
  width: 100%;
}
input,
textarea {
  transition: box-shadow 0.125s ease-in-out;
  background-color: darken($background-color, 4.5);
  border: none;
  padding: 1rem;
  caret-color: white;
  width: 100%;
  color: rgba(white, 0.85);
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset $shadow-br-pos-blur transparent,
    inset $shadow-tl-pos-blur transparent, $shadow-br, $shadow-tl;

  &:hover,
  &:focus {
    box-shadow: inset $shadow-br, inset $shadow-tl,
      $shadow-br-pos-blur transparent, $shadow-tl-pos-blur transparent;
  }
  &:focus {
    cursor: auto;
  }
  &::placeholder {
    color: rgba(white, 0.5);
  }
}

ul {
  padding-inline-start: 1.25rem;
  list-style: none;
}
li {
  margin-top: 1rem;
  padding-left: 0.5rem;
  position: relative;
  font-family: $serif-stack;

  fa-icon {
    position: absolute;
    left: -1.25rem;
    top: -3px;
    font-size: 1.25em;
    --fa-primary-color: transparent;
    --fa-secondary-color: #{$primary};
    --fa-secondary-opacity: 1;
  }
}
