<div class="card">
  <div class="card-header">
    <span class="card-title">
      <span class="text-primary">Tech&nbsp;</span>Stack
    </span>
  </div>

  <div class="card-body">
    <p>
      <b>Developing single-page applications (SPA) with Angular</b> is my cup of
      <i>bubble</i> tea. The framework has the combinatory sweetness of
      JavaScript freedom and your ice-cold object-oriented coding paradigm. (Of
      course, that doesn't mean I won't try other drinks).
    </p>
    <p>
      Back when Angular 2 was in beta and I had no knowledge of web development,
      I just picked up the tool and ran with it even till now.
    </p>
    <img class="img-fluid" src="/assets/tech-stack.png" />
  </div>
</div>
