<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      <span class="text-primary">Tech&nbsp;</span>Stack
    </span>
  </div>

  <div class="card-body">
    <p><b>Developing web applications</b> is my cup of <i>bubble</i> tea.</p>
    <!-- <img class="img-fluid" src="/assets/tech-stack.png" /> -->
  </div>

  <div class="accordion bubble-tea neumorphic-container-sm mt-4" id="accordion">
    <div class="card">
      <div
        class="card-header btn btn-regular neumorphic sm"
        id="headingOne"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        Frontend
      </div>
      <div
        id="collapseOne"
        class="collapse neumorphic-container-sm inset"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
          <ul>
            <li>
              <b>Angular</b>: The framework has the coherently combinatory
              sweetness of JavaScript freedom and your creamy object-oriented
              coding paradigm.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div
        class="card-header btn btn-regular neumorphic sm"
        id="headingTwo"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Backend
      </div>
      <div
        id="collapseTwo"
        class="collapse neumorphic-container-sm inset"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>

    <div class="card">
      <div
        class="card-header btn btn-regular neumorphic sm"
        id="headingThree"
        data-toggle="collapse"
        data-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        Storage
      </div>
      <div
        id="collapseThree"
        class="collapse neumorphic-container-sm inset"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
</div>
