<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      <span class="text-primary">Projects</span>
    </span>
  </div>
  <hr />

  <div class="card-body row m-0">
    <div class="col-6 pl-0">
      <div class="project">
        <div class="thumbnail">
          <fa-icon></fa-icon>
          <img
            class="img-fluid"
            src="/assets/project-thumbs/algo-visuo-pathfinder.png"
          />
        </div>
        <div class="caption">
          <span>Algo Visuo</span>
        </div>
      </div>

      <div class="project">
        <div class="thumbnail">
          <fa-icon></fa-icon>
          <img
            class="img-fluid"
            src="/assets/project-thumbs/quiz-whizz-ui.png"
          />
        </div>
        <div class="caption">
          <span>Quiz Whizz</span>
        </div>
      </div>
    </div>

    <div class="col-6 pr-0">
      <div class="project">
        <div class="thumbnail">
          <fa-icon></fa-icon>
          <img
            class="img-fluid"
            src="/assets/project-thumbs/job-the-builder-ui.png"
          />
        </div>
        <div class="caption">
          <span>Job The Builder</span>
        </div>
      </div>
    </div>
  </div>
</div>
