<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      <span class="text-primary">Projects</span>
    </span>
  </div>
  <hr />

  <div class="card-body row">
    <div class="col-6">
      <div class="project">
        <div class="thumbnail">
          <fa-icon></fa-icon>
          <img
            class="img-fluid"
            src="/assets/project-thumbs/algo-visuo-pathfinder.png"
          />
        </div>
        <b class="caption">Algo Visuo</b>
      </div>
    </div>
  </div>
</div>
