<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      What I<span class="text-primary">&nbsp;Built</span>
    </span>
  </div>
  <hr />

  <div class="card-body">
    <div class="row">
      <div
        class="col-12 col-sm-6 col-lg-12 col-xl-6
        mb-5 mb-sm-2 mb-lg-5 mb-xl-2"
      >
        <div
          class="project btn btn-regular p-0 neumorphic-container"
          (click)="test()"
        >
          <div class="project-thumbnail">
            <div class="overlay inset-shadow"></div>
            <app-webp
              [imgName]="'project-thumbs/cakebook'"
              [fileType]="'png'"
              [imgClass]="'img-fluid'"
              [imgAlt]="
                'Example cake recipe profile with photo, ingredients, and instructions'
              "
            ></app-webp>

            <a
              class="btn neumorphic"
              href="http://cakebook.io/"
              target="_blank"
              rel="noreferrer"
              aria-label="Check out the Cakebook.io app demo"
            >
              <fa-icon icon="external-link"></fa-icon>
            </a>
          </div>
          <div class="project-body">
            <div class="caption">
              <span class="title">CakeBook.io</span>
              <small>Effortless recipe app</small>
            </div>
          </div>
        </div>

        <div
          class="project btn btn-regular p-0 neumorphic-container"
          (click)="test()"
        >
          <div class="project-thumbnail">
            <div class="overlay inset-shadow"></div>
            <app-webp
              [imgName]="'project-thumbs/job-the-builder'"
              [fileType]="'png'"
              [imgClass]="'img-fluid'"
              [imgAlt]="
                'Fancy Pants Group logo below the Job The Builder project name'
              "
            ></app-webp>
            <a
              class="btn neumorphic"
              href="https://www.10000ft.com/case-studies/fancy-pants-group"
              target="_blank"
              rel="noreferrer"
              aria-label="Read the 10,000ft company's case study about the app Job The Builder"
            >
              <fa-icon icon="external-link"></fa-icon>
            </a>
          </div>
          <div class="project-body">
            <div class="caption">
              <span class="title">Job The Builder</span>
              <small>Workflow streamlining tool</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-12 col-xl-6 mb-4">
        <div
          class="project btn btn-regular p-0 neumorphic-container"
          (click)="test()"
        >
          <div class="project-thumbnail">
            <div class="overlay inset-shadow"></div>
            <app-webp
              [imgName]="'project-thumbs/quiz-whizz'"
              [fileType]="'png'"
              [imgClass]="'img-fluid'"
              [imgAlt]="'Quiz Whizz gameplay screenshot'"
            ></app-webp>
            <a
              class="btn neumorphic"
              href="https://quiz-whizz.herokuapp.com/"
              target="_blank"
              rel="noreferrer"
              aria-label="Play the Quiz Whizz game on the web"
            >
              <fa-icon icon="external-link"></fa-icon>
            </a>
          </div>
          <div class="project-body">
            <div class="caption">
              <span class="title">Quiz Whizz</span>
              <small>Addicting number game</small>
            </div>
          </div>
        </div>

        <div
          class="project btn btn-regular p-0 neumorphic-container"
          (click)="test()"
        >
          <div class="project-thumbnail">
            <div class="overlay inset-shadow"></div>
            <app-webp
              [imgName]="'project-thumbs/algo-visuo'"
              [fileType]="'png'"
              [imgClass]="'img-fluid'"
              [imgAlt]="'Algo Visuo screenshot running pathfinding simulation'"
            ></app-webp>
            <a
              class="btn neumorphic"
              href="https://drageaux.github.io/algo-visuo/"
              target="_blank"
              rel="noreferrer"
              aria-label="Explore the app Algo Visuo hosted on GitHub"
            >
              <fa-icon icon="external-link"></fa-icon>
            </a>
          </div>
          <div class="project-body">
            <div class="caption">
              <span class="title">Algo Visuo</span>
              <small>Algorithm visualizer with RxJS</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
