@import 'src/vars';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'src/functions';

.card-media {
  object-fit: cover;
  width: 150%;
  @media (min-width: breakpoint(md)) and (max-width: breakpoint()) {
    width: 125%;
  }
  height: 100%;
  z-index: -1;
}

.profile-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid $card-bg;
  transform: rotate(3.4deg);
}
