@import 'src/vars';

.card-media {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.profile-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid $card-bg;
  transform: rotate(3.4deg);
}
