<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      Want my <span class="text-primary">Magic Spells For Yourself</span>?
    </span>
  </div>
  <hr />

  <div class="card-body">
    <div class="card-body-heading mb-4">
      In the oversaturated pool of developers, I can offer you a
      <span class="text-primary">complete package</span>. Frontend, backend, or
      fullstack - let me tag along.
    </div>
    <div class="row mx-auto">
      <div class="mt-2">
        <div class="d-flex align-items-center">
          <span class="icon neumorphic">
            <fa-icon [icon]="['fab', 'angular']"></fa-icon>
          </span>
          <span class="icon-title d-block">Cross-Platform Apps</span>
        </div>
        <p>
          Create single-page web or cross-platform applications with
          <u>one</u>
          single codebase in TypeScript or JavaScript. (Imagine the cost this
          would save)
        </p>
      </div>

      <div class="mt-2">
        <div class="d-flex align-items-center">
          <span class="icon neumorphic">
            <fa-icon [icon]="['fal', 'phone-laptop']"></fa-icon>
          </span>
          <span class="icon-title">Pixel-Perfect Sites</span>
        </div>
        <p>
          Collaborate with designers to create a fully responsive and seamless
          experience, exactly like in sketches and wireframes
        </p>
      </div>

      <div class="mt-2">
        <div class="d-flex align-items-center">
          <span class="icon neumorphic">
            <fa-icon [icon]="['fal', 'project-diagram']"></fa-icon>
          </span>
          <span class="icon-title">Subsystems Design</span>
        </div>
        <p>
          Weave modules of your software with design patterns, from front to
          back end, and from self-hosted to third-party RESTful APIs &mdash;
          fully authenticated
        </p>
      </div>

      <div class="mt-2">
        <div class="d-flex align-items-center">
          <span class="icon neumorphic">
            <fa-icon icon="tasks"></fa-icon>
          </span>
          <span class="icon-title">Process Management</span>
        </div>
        <p>
          Lead or work with your team of engineers in a Scrum/Agile development
          style, by giving every feature a score based on complexity
        </p>
      </div>
    </div>
  </div>
</div>
