<div class="card neumorphic">
  <div class="card-header">
    <span class="card-title">
      What I<span class="text-primary">&nbsp;Can Do</span>
    </span>
  </div>
  <hr />

  <div class="card-body">
    <div class="row mx-auto">
      <div class="mt-2">
        <div class="d-flex align-items-center">
          <span class="icon neumorphic">
            <fa-icon [icon]="['fab', 'angular']"></fa-icon>
          </span>
          <span class="icon-title d-block">Cross-Platform Apps</span>
        </div>
        <p>
          Create single-page web or cross-platform applications with
          <u>one</u>
          single codebase in TypeScript/JavaScript. (Imagine the cost this would
          save)
        </p>
      </div>

      <div class="mt-2">
        <div class="d-flex align-items-center">
          <span class="icon neumorphic">
            <fa-icon [icon]="['fal', 'phone-laptop']"></fa-icon>
          </span>
          <span class="icon-title">Pixel-Perfect Sites</span>
        </div>
        <p>
          Collaborate with designers to create a fully responsive and seamless
          experience, exactly like their sketches and wireframes
        </p>
      </div>

      <div class="mt-2">
        <div class="d-flex align-items-center">
          <span class="icon neumorphic">
            <fa-icon [icon]="['fal', 'project-diagram']"></fa-icon>
          </span>
          <span class="icon-title">Subsystems Design</span>
        </div>
        <p>
          Weave modules of your software with design patterns, from front to
          back end, and from self-hosted to third-party RESTful APIs &mdash;
          fully authenticated
        </p>
      </div>

      <div class="mt-2">
        <div class="d-flex align-items-center">
          <span class="icon neumorphic">
            <fa-icon icon="tasks"></fa-icon>
          </span>
        </div>
        <span class="icon-title">Process Management</span>
        <p>
          Lead or work with your team of engineers in a Scrum/Agile development
          style, by giving every feature a score based on complexity
        </p>
      </div>
    </div>
  </div>
</div>
